.subscribe{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.147);
    border: 1px solid rgba(255, 255, 255, 0.423);
}

.subscribe_box{
    width: 80%;
    margin: 0 auto;
    padding:  8rem 0;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
}

.subscribe_box_left h2{
    font-size: 3rem;
    line-height: 0;
}

.subscribe_box p{
    font-size: 1.2rem;
}

.subscribe_box_left_box{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.subscribe_box_left_box small{
    font-size: 1rem;
    font-weight: 700;
}

.subscribe_box_left_box span{
    background-color:rgb(68, 0, 255);
    padding: .5rem 1rem;
    border-radius: 2rem;
    width: 4rem;
    text-align: center;
}

.subscribe_box_left_input{
    margin-top: 3rem;
    padding: 0.75rem;
    width: 70%;
    border-radius: 4rem;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.238);
    display: flex;
    align-items: center;
}

.subscribe_box_left_input input{
    background-color: transparent;
    border: 0;
    outline: none;
    width: 90%;
}


.subscribe_box_left_input_icon{
    font-size: 2rem;
}

.subscribe_box_left_input input::placeholder{
    color:rgba(255, 255, 255, 0.353) ;
    font-size: 1.2rem;
}
