.disc {
  position: absolute;
  display: block;
  flex-direction: column;
  /* background-color: rgba(29, 28, 28, 0.181); */
  font-size: 1rem;
  width: 25rem;
  border-radius: 1rem;
  z-index: 2222222222;
}
.discover {
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in;
  z-index: 2222222222;
  /* background-color: rgba(29, 28, 28, 0.181); */
}

.discover:hover {
  /* background-color: var(--icons-color);
    color: var(--shadow-dark-color); */
  border-radius: 0.3rem;
  background-color: blue;
}
